@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #444cf7, #444cf7 50%, #e5e5f7 50%);
    background-size: 10px 10px;
}